* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  /* padding-top: 30px; */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 20px; */
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  padding: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  margin: 10px;
}

.real-time {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  flex-direction: column;
  gap: 20px;
  background-color: #b6e3ff;
  padding: 20px;
}

.maps {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.charts {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-color: #b6e3ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .notifications {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
} */

.flex {
  display: flex;
}

/* real time */
.station-info {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin-top: 20px; */
  display: flex;
  width: 611px;
  justify-content: space-around;
}

.station-info h4 {
  margin: 0;
  font-size: 18px;
}

.station-info p {
  margin: 5px 0;
  font-size: 14px;
}

.register-btn {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #0056b3;
}

.register-btn.registered {
  background-color: green;
  color: white;
}

.real-time-up {
  height: min-content;
  /* align-self: stretch; */
  align-items: center;
  gap: 20px;
}

.real-time-down {
  height: min-content;
  /* align-self: stretch; */
  align-items: center;
  gap: 20px;
}

.real-time-left {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 4px;
  border-radius: 20px;
  background-color: #fff;
}

.real-time-right {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 4px;
  border-radius: 20px;
  background-color: #fff;
}

.real-time-content {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  /* gap: 64px; */
}

.real-time-info {
  width: 142px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 37px; */
}

.real-time-gas {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 4.5079px;
}

.gas {
  color: #515151;
  font-size: 27.0476px;
  font-weight: 600;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  letter-spacing: -0.01em;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.concentration {
  color: #515151cc;
  font-size: 20.2857px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  letter-spacing: -0.01em;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.real-time-status {
  width: 94px;
  height: min-content;
  flex-direction: column;
  gap: 3.7228px;
}

.status {
  color: #373737;
  font-size: 22.3366px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  letter-spacing: -0.01em;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.status-value {
  font-size: 18.6139px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  letter-spacing: -0.01em;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.status-value_normal {
  color: #5ce65c;
}

.status-value_warning {
  color: #f29900;
}

.status-value_danger {
  color: #ff0000;
}

.real-time-icon {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.real-time-icon_CO2 {
  background-image: url(../img/co21.png);
}

.real-time-icon_CO {
  background-image: url(../img/co211.png);
}

.real-time-icon_NH4 {
  background-image: url(../img/pollution.png);
}

.real-time-icon_Acetona {
  background-image: url(../img/pollution.png);
}

/* Charts */

.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.chart-box {
  flex: 1;
  min-width: 330px;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
  width: 100% !important;
  height: 210px !important;
}

h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.tooltip-time {
  font-size: 14px;
  color: #888;
}

.tooltip-ppm {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Maps */

.maps-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#maps-search {
  position: absolute;
  top: 10px;
  left: 46%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 60%;
  padding: 7px;
  border-radius: 5px;
}

#maps-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Signin Signup */
/* Buttons for Sign In and Sign Up */
.auth-buttons {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  gap: 10px;
  z-index: 999;
}

.auth-btn {
  padding: 8px 10px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #2980b9;
}

/* Modal Background */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Modal Content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Auth Form */
.auth-form input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #27ae60;
}

.auth-form p {
  margin-top: 10px;
  font-size: 14px;
}

.auth-form a {
  color: #3498db;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}

/* Hidden Class */
.hidden {
  display: none;
}

/* User Actions */
.user-actions {
  position: absolute;
  top: 30px;
  right: 32px;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 998;
}

/* Notification Icon */
.icon-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #3498db;
}

.icon-btn:hover {
  color: #2980b9;
}

/* User Avatar */
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Hình tròn */
  cursor: pointer;
  border: 2px solid #3498db;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 150px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdown-menu a {
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.dropdown-menu a:last-child {
  border-bottom: none;
}

/* Hidden Class */
.hidden {
  display: none;
}

.bell {
  width: 35px;
  height: 35px;
}

/* Notification List */
.notification-list {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.notification-list h3 {
  background-color: #3498db;
  color: white;
  margin: 0;
  padding: 6px;
  text-align: center;
}

.notification-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 214px;
  overflow-y: auto;
}

.notification-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

.notification-list li:last-child {
  border-bottom: none;
}

.notification-list .danger {
  color: #e74c3c;
  font-weight: bold;
}

.notification-list .warning {
  color: #f39c12;
  font-weight: bold;
}